.company{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--mainBodyColor);
}

.company_inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.company_header{
    width: 100%;
    text-align: center;
    opacity: 0;

    font-family: firago_bold;
    font-feature-settings:"case";
    color: var(--secondaryTxtColor);
    letter-spacing: 4px;
    font-size: 33px;
}

.company_logos_responsive,
.company_logos{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.company_logos_responsive{
    display: none;
}

.company_logos_row1,
.company_logos_row2{
    width: 100%;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.company_logos_row1_responsive,
.company_logos_row2_responsive{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.company_logo_img{
    width: 100px;
}

#miniso{
    width: 80px !important;
}

.icon_responsive{
    opacity: 0;
}

.icon_responsive_actie{
    opacity: 1;
    transition: all 0.4s ease;
}

.fadeout{
    opacity: 1;
    transition: all 0.8s ease;
}

@media (max-width:769px) {
    .company_logos{
        display: none;
    }
    .company_logos_responsive{
        display: flex;
    }
    .company_logos_responsive{
        flex-direction: unset;
    }

    .company_logos_row1_responsive,
    .company_logos_row2_responsive{
        flex-direction: column;
        gap: 60px;
    }

    .company_logos_row2_responsive{
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .company_header{
        font-size: 28px;
    }
}

